<% if @feed_items.any? %>
 <ol class="microposts">

   <table class="table table-striped">
     <thead>
       <th scope="col"></th>
       <th scope="col"></th>
       <th scope="col">タイトル</th>
       <th scope="col">概要</th>
     </thead>
     <tbody>
     <% @feed_items.each do |f| %>
     <tr>
       <td><%= link_to '[x]', micropost_path(f.id), method: :delete, class: 'command', data: {confirm: 'Sure?'} %></td>
       <td><%= f.category_id %></td>
       <td><%= link_to f.title, micropost_path(f.id)%></td>
       <td><%= f.content.truncate(120) %></td>
     </tr>
     <% end %>
     </tbody>
   </table>

 </ol>
 <%= will_paginate @feed_items %>
<% end %>
