     <%= link_to "ADD", new_word_path , class: 'btn btn-success'%>
     <%= link_to "CSV", root_path(format: :csv), class: "btn btn-success" , data: {confirm: 'CSV?'} %>
     <%= link_to 'ALL DELETE', del_all_word_path(0), method: :delete, class:'pull-right btn btn-danger' , data: {confirm: 'Sure?'}%>

     <div class="container">
      <h3>Please check words..</h3> <button id="btnDown" href="#end">scroll</button>
      <table class="table table-striped">
        <thead>
          <th  class="col-xs-3 col-sm-6" scope="col">KeyWord</th>
          <th  class="col-xs-1" scope="col"></th>
          <th  class="col-xs-1" scope="col">OK</th>
          <th  class="col-xs-1" scope="col">NG</th>
          <th  class="col-xs-1" scope="col">Del</th>
        </thead>
        <tbody>
        <% if !@words.nil? %>
        <% @words.each do |f| %>
        <tr>
          <td><%= link_to f.key, (URI.encode "https://www.google.com/search?hl=jp&gl=JP&q=#{f.key}"), target: :_blank  %></td>
          <td><%= 'ok' if f.zumi  %></td>
          <td><%= link_to '+', upd_add_word_path(f), remote: true, method: :put, class: 'btn btn-primary', data:{disable_with:'..'} %></td>
          <td><%= link_to '-', upd_mns_word_path(f), remote: true, method: :put, class: 'btn btn-primary', data:{disable_with:'..'} %></td>
          <td><%= link_to 'x', word_path(f), remote: true, method: :delete, class: 'command' %></td>
        </tr>
        <% end %>
        <% end %>
        </tbody>
      </table>
   <div id="end">
   </div>
