
<div class="container">
 <h3><%= @word.key %></h3>
 <%= link_to "Retry", word_path(@word) , class: 'pull-center btn btn-success', data:{disable_with:'..'} %>
 <%= link_to "Google", @url , class: 'pull-right btn btn-success' %>
 <table class="table table-striped">
   <thead>
     <th  class="col-xs-2" scope="col">link</th>
     <th  class="col-xs-5" scope="col"></th>
   </thead>
   <tbody>
     <% for num in 0..@tmp1.length do %>
     <tr>
       <td><%= link_to @tmp1[num], @tmp2[num] %></td>
       <td><%= @tmp4[num] %></td>
     </tr>
     <% end %>
   </tbody>
 </table>
</div>
